.venv
/lessons/**/rubric.md
/lessons/**/gold-standard
/lessons/**/tests
/lessons/**/_grading
/lessons/**/prompt.md
/lessons/**/hw-prompt.md
/lessons/**/pa-prompt.md
/lessons/**/gif-prompt.md
/lessons/**/IMPORTANT.md
/lessons/**/questions.md
/lessons/**/gold-standard.md
checklist.md
.agents
AGENTS.md
students/*
scripts/*